CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
*.log
build
assets/Screenshots
documentation/main.aux
documentation/main.lof
documentation/main.out
documentation/main.synctex.gz
documentation/main.tex
documentation/main.toc